 
 body {
  margin: 0;
  padding: 0;
  background-image: url('./images/airport.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
 }

 /* .footer {
   display: block;
 } */
 
 .App {
   display: flex;
   flex-direction: column;
   justify-content: center;
  margin: 0;
  /* background-color: rgb(255, 255, 255); */
  min-height: 100vh;
  /* background-color: rgba(26, 43, 138, 0.342); */
  background: linear-gradient(rgba(122, 192, 238, 0.719), rgba(53, 55, 59, 0), rgba(11, 54, 194, 0.404));

  /* display: grid;
  grid-template-columns:  15% auto auto;
  grid-template-rows:     12% auto 10%;
  grid-template-areas:    "head head head" 
                          "side main main"
                          "footer footer footer"; */
}

.appName {
  color: rgb(211, 179, 97);
  position: absolute;
  left: 50%;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  /* height: 2.4em; */
  /* border: 1px solid; */
  border-radius: 4.2px;
  /* background-color: floralwhite; */
  padding-bottom: 0;
}

.appName a:hover{
  cursor: pointer;
  color: darkgoldenrod;
  /* background-color: rgb(233, 227, 215); */
}

.navBar {
  /* background-color: rgba(6, 64, 122, 0.767); */
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: rgb(29, 37, 18);
  background-color: rgb(2, 46, 40);
  background-color: rgb(35, 20, 68);
  background-color: rgb(117, 10, 6);
}

.Header {
  grid-area: head;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1%;
  height: 20px;
  /* background-color: tomato; */
}

.home {
  /* min-height: 100%; */
  /* background-color: yellow; */
}

.parallax-container {
  font-family:'Arial Narrow Bold';
  /* font-style: italic; */
  height: 200px;
}

.parallax-text{
  padding-left: 42px;
  padding-right: 42px;
}

.description p {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  color: rgb(250, 191, 42);
}
.myBlock {
  display: flex;
  justify-content: space-between;
}
.description h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding-bottom: 4.2px;
  color: rgb(255, 255, 255);
  position: relative;
  padding-top: 0;
  margin: 2.1px 4.2px;
}

.footer {
  
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 4.2%;
  /* background-color: rgb(29, 37, 18); */
  background-color: rgb(15, 25, 63);
  background-color: rgb(35, 20, 68);
  background-color: rgb(117, 10, 6);

  height: 121px;
  margin-top: auto;
}

.Voyages_list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-color: rgb(255, 255, 255);
}

.usersList {
  display: flex;
  flex-flow: wrap;
}

.Form { 
  width: 42%;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  /* background-color: rgba(13, 69, 95, 0.808); */
  background-color: rgba(0, 0, 0, 0.808);
  background-color: rgba(42, 16, 16, 0.856);
  margin-bottom: 42px;
  margin-top: 2.1%;
  padding-top: 21px;;
  border-radius: 4px;
}

.Form input {
  color: goldenrod;
  text-align: center;
}

.Form i {
  /* margin-right: -50px; */
}
.iconField {
  margin-right: -42px;
  margin-top: 15px;
  color: white;
}

.newTravel {
  /* margin-top: 4.2%; */
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

table.highlight>tbody>tr:hover {
  /* background-color: rgba(194, 206, 23, 0.5);     */
  /* background-color: #3a9c6396  ; */
  color: #3f51b5;
  font-weight: bold;
  cursor: pointer;
}
table.highlight>tbody>tr {
  color: rgb(19, 13, 13);                                     /* whatever color you want */
}

.SideMenu {
  display: flex;
  flex-direction: column;
  background-color: rgb(181, 179, 184);
  grid-area: side;
  justify-content: space-around;
  border-radius: 1%;
  width: 150px;
  padding-left: 13px;
  min-height: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 100%;
  color: darkgoldenrod;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 21px;
  font-weight: bold;
}
